<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>02_Member</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <!-- 모든 설정은 xml에서 -->
    <servlet>
  <servlet-name>RegisterServlet</servlet-name>
  <servlet-class>com.kh.RegisterServlet</servlet-class>
  </servlet>
  <!-- 웹에서 /register로 요청했을 때 RegisterServlet으로 연결 -->
	<servlet-mapping>
	<servlet-name>RegisterServlet</servlet-name>
	<url-pattern>/register</url-pattern>
	</servlet-mapping>  
	
	<!-- 모든 코드를 거치는 것들을 filter로 만들어 filter처리 -->
	<filter>
	<display-name>EncodingFilter</display-name>
	<filter-name>EncodingFilter</filter-name>
	<filter-class>com.kh.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
	<filter-name>EncodingFilter</filter-name>
	<!-- 모든 / 뒤에 나오는 경로는 filter를 걸치고 간다. => /* -->
	<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>